@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
}
/* Effet texte contour */
.stroke-text {
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.2);
  color: transparent;
}

.mask-gradient {
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}